.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--lightgray-light);
  /* margin-top: 50px; */
}

.login_container {
  padding: 70px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 5px 5px 10px #d4d4d4, -5px -5px 10px white;
}

.login_container > img {
  object-fit: contain;
  width: 100px;
}

.login_container > h1 {
  margin-top: 40px;
}

.login_container > button {
  margin-top: 20px;
  text-transform: inherit;
  background-color: #0a8d48;
  color: white;
}

.login_container > button:hover {
  background-color: darkgreen;
}
